<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="EventPlanner" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="EventPlanner" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="EventPlanner" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="EventPlanner" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Event Planner</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="import" href="elements.html">
    <script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
</head>
<body ng-app="EventPlanner" layout="column">

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<md-toolbar class="md-toolbar-tools" layout="row" ng-controller="appCtrl">
    <!--
        This will steal focus when on a small device on sidenav close but should be fixed in future versions of Angular-Material
        https://github.com/angular/material/issues/5563
    -->
    <md-button class="md-icon-button" aria-label="Menu" ng-click="toggle()" md-no-focus-style="">
        <md-icon md-font-library="material-icons">menu</md-icon>
    </md-button>
    <h1>
        <span>Worst Event Planning App Ever</span>
    </h1>
    <span flex></span>
    <md-menu ng-click="$mdOpenMenu($event)" ng-if="storageSupported">
        <md-button ng-click="ctrl.openMenu($mdOpenMenu, $event)">
            <md-icon md-font-library="material-icons">more_vert</md-icon>
        </md-button>
        <md-menu-content width="4">
            <md-menu-item>
                <md-button ng-click="clearStorage();openToast()">
                    <md-icon md-font-library="material-icons">clear</md-icon>
                    Clear Cache
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</md-toolbar>


<div layout="row">
    <section layout="row" ng-controller="appCtrl">
        <md-sidenav md-component-id='sidenav' nofocus tabindex="100" md-is-locked-open="$mdMedia('gt-sm')"
                    class="md-whiteframe-z2">

            <md-content ng-click="toggle()" layout="column" layout-align="left">
                <md-button ng-href="#/events" md-no-focus>
                    <md-icon md-font-library="material-icons">event</md-icon>
                    Events
                </md-button>

                <md-button ng-href="#/events/new" md-no-focus>
                    <md-icon md-font-library="material-icons">plus_one</md-icon>
                    Register Event
                </md-button>

                <md-button ng-href="#/users" md-no-focus>
                    <md-icon md-font-library="material-icons">people</md-icon>
                    Users
                </md-button>

                <md-button ng-href="#/users/new" md-no-focus>
                    <md-icon md-font-library="material-icons">plus_one</md-icon>
                    Register User
                </md-button>

            </md-content>
        </md-sidenav>
    </section>

    <div flex tabindex="-1" layout="row" class="md-primary" flex ng-view id="content">

    </div>
</div>

<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js" type="text/javascript"></script>
<script src="bower_components/angular-aria/angular-aria.min.js" type="text/javascript"></script>
<script src="bower_components/angular-material/angular-material.min.js" type="text/javascript"></script>
<script src="bower_components/angular-messages/angular-messages.min.js" type="text/javascript"></script>
<script src="bower_components/jshashes/hashes.min.js"></script>
<script src="bower_components/momentjs/moment.js"></script>
<script src="bower_components/mdPickers/dist/mdPickers.min.js" type="text/javascript"></script>

<script src="dist/app.min.js"></script>
<script src="dist/users/users.min.js"></script>
<script src="dist/events/events.min.js"></script>
</body>
</html>
