<div ng-controller="GuestsCtrl" layout="column" ng-cloak>
    <md-content class="md-padding autocomplete" layout="column">
        <md-card>
            <md-contact-chips
                    ng-model="selectedUsers"
                    md-contacts="querySearch($query)"
                    md-contact-name="name"
                    md-contact-email="email"
                    md-require-match="true"
                    md-highlight-flags="i"
                    filter-selected="filterSelected"
                    placeholder="Guests">
            </md-contact-chips>
            <md-list class="fixedRows">
                <md-subheader class="md-no-sticky">Contacts</md-subheader>
                <md-list-item class="md-2-line contact-item" ng-repeat="contact in users"
                              ng-if="!isSelected(contact)" ng-click="addSelected(contact)">
                    <div class="md-list-item-text compact">
                        <h3>{{contact.name}}</h3>
                        <p>{{contact.email}}</p>
                    </div>
                </md-list-item>
            </md-list>
            <md-card-actions layout="row" layout-align="start center">
                <md-button ng-click="addGuests()">Save</md-button>
                <md-button ng-href="#/events">Cancel</md-button>
            </md-card-actions>
        </md-card>
    </md-content>
</div>